.hide {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
}
/*target="hidden_frame"*/


  details  summary {
    cursor: pointer;
  }
  
  details  summary .summary-closed,
  details[open]  summary .summary-open {
    display: initial;
    font-weight: bolder;
  }
  
  details[open]  summary .summary-closed,
  details  summary .summary-open {
    display: none;
  }
  
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    padding-top: 30px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="email"],

  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #3D1C4F;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3D1C4F;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
p {
    color: rgb(79, 79, 79);
    display: inline-block;
    font-size: medium;
    text-align: justify;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    font-weight: lighter;
    padding-top: -50px;
  }
  
  @media screen and (min-width: 700px) {
  
    form {
      max-width: 700px;
    }}

#men {
    padding: -20px;
    font-weight: bold;
    font-size: small;
    color: #384047;
}
span {
    font-weight: bolder;
    margin-bottom: 50px;
}